{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">

    <div class="container">

        <!-- ============================= -->
        <!-- LOGO -->
        <!-- ============================= -->

        <a class="navbar-brand fw-bold"
           href="{% url 'home' %}">

            <i class="fa-solid fa-calendar-days me-2"></i>

            EventHub

        </a>


        <!-- ============================= -->
        <!-- MOBILE TOGGLE -->
        <!-- ============================= -->

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#userNavbar"
            aria-controls="userNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>


        <!-- ============================= -->
        <!-- NAVBAR CONTENT -->
        <!-- ============================= -->

        <div
            class="collapse navbar-collapse"
            id="userNavbar">


            <!-- ============================= -->
            <!-- LEFT MENU -->
            <!-- ============================= -->

            <ul class="navbar-nav me-auto">


                <!-- Home -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'home' %}">

                        <i class="fa-solid fa-house me-1"></i>

                        Home

                    </a>

                </li>


                <!-- Browse Events -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'user_event_list' %}">

                        <i class="fa-solid fa-calendar-days me-1"></i>

                        Browse Events

                    </a>

                </li>


                <!-- My Events -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'my_registered_events' %}">

                        <i class="fa-solid fa-calendar-check me-1"></i>

                        My Events

                    </a>

                </li>


                <!-- My Wishlist -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'my_wishlist' %}">

                        <i class="fa-solid fa-heart me-1"></i>

                        My Wishlist

                    </a>

                </li>


                <!-- Contact -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'contact' %}">

                        <i class="fa-solid fa-envelope me-1"></i>

                        Contact

                    </a>

                </li>

            </ul>


            <!-- ============================= -->
            <!-- RIGHT MENU -->
            <!-- ============================= -->

            <ul class="navbar-nav align-items-center">

                <li class="nav-item dropdown">


                    <!-- User -->

                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">

                        <i class="fa-solid fa-circle-user me-1"></i>

                        {{ request.user.username }}

                    </a>


                    <!-- ============================= -->
                    <!-- USER DROPDOWN -->
                    <!-- ============================= -->

                    <ul class="dropdown-menu dropdown-menu-end">


                        <!-- My Events -->

                        <li>

                            <a
                                class="dropdown-item"
                                href="{% url 'my_registered_events' %}">

                                <i class="fa-solid fa-calendar-check me-2"></i>

                                My Events

                            </a>

                        </li>


                        <!-- My Wishlist -->

                        <li>

                            <a
                                class="dropdown-item"
                                href="{% url 'my_wishlist' %}">

                                <i class="fa-solid fa-heart me-2 text-danger"></i>

                                My Wishlist

                            </a>

                        </li>


                        <!-- My Profile -->

                        <li>

                            <a
                                class="dropdown-item"
                                href="{% url 'user_profile' %}">

                                <i class="fa-solid fa-user me-2"></i>

                                My Profile

                            </a>

                        </li>


                        <!-- Divider -->

                        <li>

                            <hr class="dropdown-divider">

                        </li>


                        <!-- Logout -->

                        <li>

                            <a
                                class="dropdown-item text-danger"
                                href="{% url 'logout' %}">

                                <i class="fa-solid fa-right-from-bracket me-2"></i>

                                Logout

                            </a>

                        </li>

                    </ul>

                </li>

            </ul>

        </div>

    </div>

</nav>